PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/workflow

GOOGLE_CLIENT_ID=<your-client-id>
GOOGLE_CLIENT_SECRET=<your-client-secret>
GOOGLE_REDIRECT_URI=<your-redirect-uri>
GOOGLE_REFRESH_TOKEN=<your-refresh-token>

SLACK_BOT_TOKEN=<your-slack-bot-token>
DISCORD_WEBHOOK_URL=<your-discord-webhook-url>
